a {
    color: #428bca;
    text-decoration: none;
    background: transparent;
}

a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}

a:active, a:hover {
    outline: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app-abstract {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
    text-align: left;
    min-height: 3em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.app-abstract-expanded{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
    text-align: left;
    min-height: 3em;
    text-overflow: unset;
    overflow: auto;
    white-space: normal;
}

.app-citation{
    grid-column-start:1; grid-column-end: 3;
}

.app-expand {
    position: relative;
    max-height: 3em;

}

.app-expanded {
    height: 12px;
    display: grid;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
}

.app-grid-expanded{
    display: grid; grid-template-columns:49.5% 49.5%; border-left: 1px solid #AAA; border-right: 1px solid #AAA;
    grid-template-rows:auto auto auto auto auto auto auto auto; row-gap: 0px; column-gap: 5px;
    font-size: 14px;
    overflow-wrap: break-word;
}
.app-grid-expanded > div{
    padding-right: 8px;
    padding-top: 0px;
}

.app-inputs {
    grid-column: 5;
    grid-row: 1;
    margin: auto
}

.app-name {
    grid-column: 3;
    grid-row: 1;
    margin: auto
}

.app-owner {
    grid-column: 4;
    grid-row: 1;
    margin: auto
}

.btn{
    box-shadow: 0 1px 0 rgb(255 255 255 / 30%) inset;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-default:not(.active) {
    text-shadow: 1px 1px #fff;
}

.btn-default {
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    padding: .2em .4em .3em .4em;
    cursor: pointer;
}

.button-expand {
    width: 80%;
    top: 0;
    left: 10%;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
}

.dark-theme {
    background-color: #f9f9f9;
}

.entry {
    display: grid;
    text-align: center;
    font-size: 14px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-top: 1px solid #AAA;
    grid-gap: 1px;
    row-gap: 12px;
    grid-template-columns:10% 10% auto  20% 15%;
    grid-template-rows:48px 3em;
}

.expanded {
    grid-template-rows:48px auto;
}

form input{
    margin: 5px;

}

.grid1-1 {
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    min-width: 48px
}

h1{
text-align: center;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    line-height: 1.1;
}

.header{
    grid-template-rows: auto;
    border: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

.image-tags {
    grid-column: 2;
    grid-row: 1;
    margin: auto
}

.image-tags-image {
    height: 20px;
    max-height: 100%
}
img.image-tags-image {

}

.input-form{
    padding: 5px;
    background-color: palegoldenrod;
    display: grid;
    text-align: center;
    border-top: 1px solid #AAA;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    grid-gap: 1px;
    grid-template-columns:auto;
    grid-template-rows:auto;
}

.library {
    position: absolute;
}

.light-theme {
    background-color: #ffffff;
}

.table {
    position: relative;
    width: 80%;
    left: 10%;
}
.table:last-child{
    padding-bottom: 1px;
    border-bottom: 1px solid #AAA;
}